    <footer>
        <div class="footer">
            <table> 
                <thead>
                    <tr>
                        <th scope="col"><a href="/">HOME</a></th>
                        <th scope="col">ABOUT</th>
                        <th scope="col">RECRUIT</th>
                        <th scope="col"><a href="/contact">CONTACT</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td><a href="https://tatsuhikoa0314.github.io/my-portfolio/">制作者について</a></td>
                    </tr>
                </tbody>
                <tfoot>      
                </tfoot>
            </table>
            <p>2020 Designed by Tatsuhiko Arakawa.</p>
        </div>
    </footer>
</html>