
<%- include('../include/header'); %>

<body>
  <div class="error">
      <h3>エラーが発生しました。</h3>
      <p>接続できない場合、時間をおいて再接続を試みてください。</p>
  </div>
</body>
<%- include('../include/footer'); %>
</html>